h1{
    color: rebeccapurple;
    text-align: center;
    background-color: rgb(170, 219, 248);
    padding: 50px;
}

nav{
    background-color: rgb(234, 244, 146);
    padding: 20px;
    margin: 5%;
    border: 10px;
}

