h1{
    color: rebeccapurple;
    text-align: center;
    background-color: rgb(170, 219, 248);
    padding: 50px;
}

nav{
    background-color: rgb(234, 244, 146);
    padding: 10px;
    margin: 0px;
    margin-top: 0px;
}

